#{extends 'main.html' /}
#{set title:'Cadastro de Cargos' /}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>Cadastro de Cargo
    </div>
    <div class="card-body">
        <form action="@{Cargos.salvar_cargo}" method="get">
            <input type="hidden" value="${cargo?.id}" name="cargo.id">
            <div class="form-group">
               <label for="cargo">#Cargo ${cargo?.id}</label>
            </div>
            <div class="form-group">
               <label for="nome">Nome</label>
               <input class="form-control #{ifError 'caro.nome'} is-invalid#{/ifError}" id="nome" type="text" value="${cargo == null ? flash['cargo.nome'] : cargo.nome}" name="cargo.nome">
                #{ifError 'cargo.nome'}
        	   <div class="invalid-feedback">#{error 'cargo.nome' /}</div>  	   		 
                #{/ifError}
            </div>
            <div class="form-group">
                <input class="btn btn-success btn-block" type="submit" value="Salvar">
                <br>
                <a href="@{Cargos.listar_cargos}">
                     <input type=button value="Cancelar" class="btn btn-danger btn-block">
                </a> 
            </div>
        </form>
    </div>
</div>