<!DOCTYPE html>
<html>
<body onload="start()">

<div id="demo">
<h2>Iniciando...</h2>
</div>

<script src="/public/JavaScript-MD5/js/md5.min.js"></script>
<script>

function loadDoc(method, url, params) {
  var xhttp = new XMLHttpRequest();
  xhttp.open(method, url, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send(params);
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200){
      document.getElementById("demo").innerHTML = this.responseText + url+params
    } else {
        document.getElementById("demo").innerHTML = this.responseText;
    }
  };
}

var temperatura = 20;
var umidade=50;
var velocidade=10;
var pressao=1000;
var estacao_id=1;
var chaves = [0, 81203, 72427, 28753];

function loop(){
  if(estacao_id>=3){
      estacao_id=1;
  }else{
      estacao_id++;
  };

  function oscilador(atual, min, max, osc){
            oscilar=Math.random()*2;
            if(oscilar<1){
               osc = -osc;
            }
            atual += osc;
            if(atual<min || atual>max){
                atual=(min+max)/2
            }
            return atual;
        }
        
        function add0(numero){
            if(numero<10){
                numero = "0"+numero;
            }
            return numero;
        }
    

    temperatura=oscilador(temperatura, 15, 40, 1);
    umidade=oscilador(umidade, 10, 100, 5);
    velocidade=oscilador(velocidade, 5, 100, 10);
    pressao=oscilador(pressao, 1000, 2000, 50);
    data = new Date();
        ano = data.getFullYear();
        mes = add0(data.getMonth()+1);
        dia = add0(data.getDate());
        hora = add0(data.getHours());
        minuto = add0(data.getMinutes());
        segundo = add0(data.getSeconds());
        
        
    datahora = ""+ano+"-"+mes+"-"+dia+"-"+hora+":"+minuto+":"+segundo;
    
    hash = md5(estacao_id+datahora+chaves[estacao_id])
    method="POST";
    url = "/Registros/registrar";
    params = "estacao_id="+estacao_id+"&datahora="+datahora+"&temperatura="+temperatura+"&umidade="+umidade+"&velocidade="+velocidade+"&pressao="+pressao+"&hash="+hash;
    loadDoc(method, url, params);
}

function start(){
    window.setInterval(loop, 1200000);
}

</script>

</body>
</html>