    #{list items:estacoes, as:'estacao'}
        <div id="curve_chart${estacao.id}" style="width: 100%; height: 400px"></div>
    #{/list}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
      var i = 0;
      #{list items:estacoes, as:'estacao'}
        i++;
      #{/list}
          
      var data = [];
      data.length = i;
      #{list items:estacoes, as:'estacao'}
        data[${estacao.id}] = google.visualization.arrayToDataTable([ 
          ['Data-Hora', 'Temperatura', 'Umidade do Ar', 'Velocidade do Vento', 'Pressão Atmosférica'],
          #{list items:estacao.registros, as:'registro'}
            [ '${registro.datahora}', ${registro.temperatura}, ${registro.umidade}, ${registro.velocidade}, ${registro.pressao}],
	  #{/list}
        ]);
        #{/list}

        var options = {
          title: 'Dados da Estação ${estacao.id} | ${estacao.nome} | ${inicio} | ${fim}',
          curveType: 'function',
          legend: { position: 'right' }
        };
        
        #{list items:estacoes, as:'estacao'}
        var chart${estacao.id} = new google.visualization.LineChart(document.getElementById('curve_chart${estacao.id}'));
            chart${estacao.id}.draw(data[${estacao.id}], options);
        #{/list}
      }
    </script>
