<div>
     #{list items:estacoes, as:'estacao'}
        
    </div>
        <table class="table dataTable" id="dataTable">
            <thead>
              <th colspan="3">
                 De: ${inicio} - 
                 até: ${fim} - 
              </th>
            </thead>
        </table>
     <table class="table dataTable" id="dataTable">
       <thead>
         <th colspan="3">
            ID: ${estacao?.id} - 
            Nome: ${estacao?.nome} - 
            Localização: ${estacao?.latitude},${estacao?.longitude}
         </th>
       </thead>
       <thead>
         <th rowspan="1" colspan="1">Data - Hora</th>
         <th rowspan="1" colspan="1">Temperatura</th>
         <th rowspan="1" colspan="1">Umidade</th>
         <th rowspan="1" colspan="1">Velocidade</th>
         <th rowspan="1" colspan="1">Pressão</th>
       </thead>
       <tbody>
        
	#{list items:estacao.registros, as:'registro'}
		<tr role="row">
           <td>${registro.datahora}</td>
           <td>${registro.temperatura}</td>
           <td>${registro.umidade}</td>
           <td>${registro.velocidade}</td>
           <td>${registro.pressao}</td>
         </tr>
	#{/list}
	</tbody>
    </table>
    #{/list}
</div>
