#{extends 'main.html' /}
#{set title:'Listar Usuários' /}

<div class="card mb-3">
 <div class="card-header">
   <i class="fa fa-table"></i>Listagem de Eleitores</div>
 <div class="card-body">
     <table class="table dataTable" id="dataTable">
       <thead>
         <tr><th rowspan="1" colspan="1">#Título</th>
         <th rowspan="1" colspan="1">Nome</th>
         <th rowspan="1" colspan="1">Zona-Secao</th>
         <th rowspan="1" colspan="1">Status</th>
         <th>Ações</th>
       </thead>
       <tbody>
	#{list items:eleitores, as:'eleitor'}
        <tr role="row">
           <td>${eleitor.getTitulo()}</td>
           <td>${eleitor.getNome()}</td>
           <td>${eleitor.getSecao().getZona().getId()}
               ${eleitor.getSecao().getZona().getNome()}
               - ${eleitor.getSecao().getId()}
                 ${eleitor.getSecao().getNome()}
           </td>
           <td>${eleitor.getStatusEleitor()}
               - ${eleitor.getStatusVoto()}
           </td>
           
           <td>
                <a href="@{Eleitores.detalhes_eleitor(eleitor.titulo)}">
                    <button class="btn btn-sm btn-info">
                        <i class="fa fa-user">Detalhes</i>
                    </button>
                </a>
                    
                <a href="@{Eleitores.editar_eleitor(eleitor.titulo)}">
                    <button class="btn btn-sm btn-success">
                        <i class="fa fa-edit">Editar</i>
                    </button>
                </a>
           </td>
         </tr>
	#{/list}
	</tbody>
    </table>
  </div>
</div>
