#{extends 'main.html' /}
#{set title:'Detalhes' /}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>Detalhes da Seção</div>
    <div class="card-body">
        <div class="form-group">
            ID: ${secao?.id}
        </div>
        <div class="form-group">
            Nome: ${secao?.nome}
        </div>
        <div class="form-group">
            #{if secao.ipTerminal != null && secao.ipTerminal != ""}
                <form action="@{Secoes.resetTerminal}" method="get">
                    <input type="hidden" name="id" value="${secao.id}">
                    <input type="submit" class="btn btn-balck btn-group" value="Reset Terminal">
                </form>
            #{/if}
            #{if secao.ipUrna != null && secao.ipUrna != ""}
                <form action="@{Secoes.resetUrna}" method="get">
                    <input type="hidden" name="id" value="${secao.id}">
                    <input type="submit" class="btn btn-black btn-group" value="Reset Urna">
                </form>
            #{/if}
        </div>
        <br>
        <form action="@{Secoes.editar_secao}" method="get">
            <input type="hidden" name="id" value="${secao.id}">
            <input type="submit" class="btn btn-primary btn-block" value="Editar">
        </form>
        <br>
        <script>
            function confirmDelete(form){
                r = confirm("Tem Certeza que deseja remover a Secão?");
                if(r){
                    form.action = "@{Secoes.remover_secao}";
                }
            }
        </script>
        <form onsubmit="confirmDelete(this)" action="" method="get">
            <input type="hidden" name="id" value="${secao.id}">
            <input type="submit" class="btn btn-danger btn-block" value="Remover">
        </form>
        <br>
        <form action="@{Secoes.listar_secoes}" method="get">
            <input type="submit" class="btn btn-warning btn-block" value="Listar">
        </form>
        <br>
    </div>
    <div class="card-header">
    <i class="fa fa-table"></i>Listagem de Eleitores
 </div>
 <div class="card-body">
     <table class="table dataTable" id="dataTable">
       <thead>
         <th rowspan="1" colspan="1">Título</th>  
         <th rowspan="1" colspan="1">Nome</th>
         <th rowspan="1" colspan="1">Status</th>
         <th rowspan="1" colspan="1">Votação</th>
         <th rowspan="1" colspan="1">Detalhes</th>
       </thead>
       <tbody>
	#{list items:secao.eleitores, as:'eleitor'}
        <tr role="row">
           <td>${eleitor.getTitulo()}</td>
           <td>${eleitor.getNome()}</td>
           <td>${eleitor.statusEle}</td>
           <td>${eleitor.statusVot  }</td>
           <td>
                <a target="_new" href="@{Eleitores.detalhes_Eleitor(eleitor.titulo)}">
                    <button class="btn btn-sm btn-info">
                        <i class="fa fa-user">Detalhes</i>
                    </button>
                </a>
           </td>
         </tr>
	#{/list}
	</tbody>
    </table>
</div>