#{extends 'main.html' /}
#{set title:'Detalhes' /}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>Detalhes da Usuário</div>
    <div class="card-body">
        <div class="form-group">
            ID: ${eleitor?.id}
        </div>
        <div class="form-group">
            Título: ${eleitor?.getTitulo()}
        </div>
        <div class="form-group">
            Nome: ${eleitor?.getNome()}
        </div>
        <div class="form-group">
            Zonara-Secao: 
            ${eleitor?.getSecao()?.getZona()?.getId()} ${eleitor?.getSecao()?.getZona()?.getNome()}
            - ${eleitor?.getSecao()?.getId()} ${eleitor?.getSecao()?.getNome()}
        </div>
        <div class="form-group">
            Status: ${eleitor?.getStatusEleitor()} - ${eleitor?.getStatusVoto()}
        </div>
        
        
        <br>
        <form action="@{Eleitores.editar_eleitor}" method="get">
            <input type="hidden" name="titulo" value="${eleitor?.getTitulo()}">
            <input type="submit" class="btn btn-primary btn-block" value="Editar">
        </form>
        <br>
        <script>
            function confirmDelete(form){
                r = confirm("Tem Certeza que deseja remover o Eleitor?");
                if(r){
                    form.action = "@{Eleitores.remover_eleitor}";
                }
            }
        </script>
        <form onsubmit="confirmDelete(this)" action="" method="get">
            <input type="hidden" name="id" value="${eleitor?.id}">
            <input type="submit" class="btn btn-danger btn-block" value="Remover">
        </form>
        <br>
        <form action="@{Eleitores.listar_eleitores}" method="get">
            <input type="submit" class="btn btn-warning btn-block" value="Listar">
        </form>
        <br>
    </div>
</div>

