#{extends 'main.html' /}
#{set title:'Detalhes' /}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>Detalhes do Candidato</div>
    <div class="card-body">
        <div class="form-group">
            ID: ${candidato?.id}
        </div>
        <div   class="form-group col-md-2 margem"> 
            #{if candidato?.foto?.exists()}
            <img height="100" src="@{Api.fotoCandidato(candidato.id)}" id="img" accept="image/*" class="img-responsive" class="img-thumbnail" >
            #{/if}
            #{else}
            <img height="100" src="/public/images/fotoPadrao.jpg" id="img" accept="image/*"  class="img-responsive" class="img-thumbnail" >
            #{/else}

        </div>
         <div class="form-group">
            Numero: ${candidato?.numero}
        </div>
        <div class="form-group">
            Nome: ${candidato?.nome}
        <br />
            Vice ${candidato?.vice  }
        </div>
        <div class="form-group">
            Zona: ${candidato?.zona?.nome}
        </div>
        <div class="form-group">
            Cargo: ${cargo?.nome}
        </div>
        
        
        <br>
        <form action="@{Candidatos.editar_candidato}" method="get">
            <input type="hidden" name="id" value="${candidato?.id}">
            <input type="submit" class="btn btn-primary btn-block" value="Editar">
        </form>
        <br>
        <script>
            function confirmDelete(form){
                r = confirm("Tem Certeza que deseja remover o Candidato?");
                if(r){
                    form.action = "@{Candidatos.remover_candidato}";
                }
            }
        </script>
        <form onsubmit="confirmDelete(this)" action="" method="get">
            <input type="hidden" name="id" value="${candidato?.id}">
            <input type="submit" class="btn btn-danger btn-block" value="Remover">
        </form>
        <br>
        <form action="@{Candidatos.listar_candidatos}" method="get">
            <input type="submit" class="btn btn-warning btn-block" value="Listar">
        </form>
        <br>
    </div>
</div>

