<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>#{get 'title' /}</title>
  <!-- Bootstrap core CSS-->
  <link href="@{'/public/bootstrap/vendor/bootstrap/css/bootstrap.min.css'}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="@{'/public/bootstrap/vendor/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="@{'/public/bootstrap/vendor/datatables/dataTables.bootstrap4.css'}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="@{'/public/bootstrap/css/sb-admin.css'}" rel="stylesheet">
  
  #{get 'moreStyles' /}

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">Eleições 2018</a>
    <a class="nav-link" href="@{Application.api}" data-parent="#exampleAccordion">
        <i class="fa fa-fw fa-wrench"></i>
        <span class="nav-link-text">API</span>
    </a>
    #{if flash.contains('loged')}
        <a class="nav-link" href="@{Application.gestor}" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Admin</span>
        </a>
        <a class="nav-link" href="@{Application.logout}" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Sair</span>
        </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collap" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Cargos / Candidatos</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="@{Cargos.listar_cargos}">Listar Cargos</a>
            </li>
            <li>
              <a href="@{Cargos.cadastro_cargo}">Adicionar Cargo</a>
            </li>
            <li>
              <a href="@{Candidatos.listar_candidatos}">Listar Candidatos</a>
            </li>
            <li>
              <a href="@{Candidatos.cadastro_candidato}">Adicionar Canadidato</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents2" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Zonas /     Seções</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents2">
            <li>
              <a href="@{Zonas.listar_zonas}">Listar Zonas</a>
            </li>
            <li>
              <a href="@{Zonas.cadastro_zona}">Adicionar Zona</a>
            </li>
            <li>
              <a href="@{Secoes.listar_secoes}">Listar Seções</a>
            </li>
            <li>
              <a href="@{Secoes.cadastro_secao}">Adicionar Seção</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents3" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Eleitores / Votos</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents3">
            <li>
              <a href="@{Eleitores.listar_Eleitores}">Listar Eleitores</a>
            </li>
            <li>
              <a href="@{Eleitores.cadastro_eleitor}">Adicionar Eleitor</a>
            </li>
            <li>
              <a href="@{Application.index}">Apuração</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    #{/if}
    #{else}
        <form method="post" action="@{Application.login}">
            <input type="password" name="chave">
            <input type="submit" value="Login">
        </form>
    #{/else}
  </nav>
  
  <!-- Icon Cards-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <!-- Mensagem de sucesso -->
        	#{if flash.success}
                    <div class="alert alert-success">
			<p>${flash.success.raw()}</p>
                    </div>
                #{/if}	
                
            <!-- Mensagem de erro -->	
		#{if flash.error}
                    <div class="alert alert-danger">
                	<p>${flash.error.raw()}</p>
                    </div>
               	#{/if}
            #{ifErrors}
                <h1>Oops…</h1>
                #{errors}
                   <li>${error}</li>
                #{/errors}
            #{/ifErrors}
            #{doLayout /}
        </div>
      </div>
      
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright© Carrego Systems 2018</small>
        </div>
      </div>
    </footer>
    
    <!-- Bootstrap core JavaScript-->
    <script src="@{'/public/bootstrap/vendor/jquery/jquery.min.js'}"></script>
    <script src="@{'/public/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
    <!-- Core plugin JavaScript-->
    <script src="@{'/public/bootstrap/vendor/jquery-easing/jquery.easing.min.js'}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="@{'/public/bootstrap/vendor/chart.js/Chart.min.js'}"></script>
    <script src="@{'/public/bootstrap/vendor/datatables/jquery.dataTables.js'}"></script>
    <script src="@{'/public/bootstrap/vendor/datatables/dataTables.bootstrap4.js'}"></script>
    <!-- Custom scripts for all pages-->
    <script src="@{'/public/bootstrap/js/sb-admin.min.js'}"></script>
    <!-- Custom scripts for this page-->
    <script src="@{'/public/bootstrap/js/sb-admin-datatables.min.js'}"></script>
    
    
    #{get 'moreScripts' /}
  </div>
</body>
</html>

